.footer {
	background-color: black;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px) {
	.footer {
		height: 100px;
		align-items: flex-start;
	}
	h6 {
		padding-top: 10px;
	}
}
