.skills {
	padding-top: 90px;
	padding-bottom: 50px;
	width: 100vw;
	min-height: 100vh;
}

.skills_holder {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.skill {
	cursor: pointer;
	transition: 0.3s;
	width: calc(95% / 3);
	margin: 20px;
	background-color: #ddd;
	padding: 15px;
	border-radius: 0.5rem;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
.skill:hover {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.skill:hover .skill p {
	color: #2e705d;
}
.skill h2 {
	text-align: center;
	width: fit-content;
	border-bottom: 2px solid #2e705d;
	margin-bottom: 15px;
	color: black;
	font-size: 1.1rem;
}

.skill p {
	margin-bottom: 8px;
	font-size: 0.9rem;
	transition: 0.5s;
}

.skill:hover p {
	color: #2e705d;
	font-weight: bold;
}

.skills h1 {
	margin: auto;
	position: relative;
	width: fit-content;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 50px;
}
.skills h1::before {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: -8px;
	background-color: #2e705d;
}
@media (max-width: 600px) {
	.skills {
		padding-top: 20px;
	}
	.skills_holder {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.skill {
		width: 90%;
		margin: 10px;
	}

	.skills h1 {
		font-size: 1.5em;
		margin-bottom: 8px;
	}
}
